body {
  background-color: #000;
  color: #fff;
}

.navbar, .nav-tabs {
  background-color: #0ff !important; /* azul neon */
  border-bottom: 2px solid #0ff;
}

.navbar-brand, .nav-link, .nav-tabs .nav-link {
  color: #000 !important;
  font-weight: bold;
}

.nav-link.active, .nav-tabs .nav-link.active {
  background-color: #000 !important;
  color: #0ff !important;
  border: 2px solid #0ff !important;
}

h1, h2, h4, h5 {
  color: #0ff;
  text-shadow: 0 0 8px #0ff;
}

.card {
  background-color: #111;
  color: #fff;
  border: 2px solid #0ff;
}

.btn-primary {
  background-color: #0ff;
  border-color: #0ff;
  color: #000;
  font-weight: bold;
  text-shadow: 0 0 4px #0ff;
}

.btn-primary:hover {
  background-color: #00bfff;
  border-color: #00bfff;
  color: #fff;
}

a {
  color: #0ff;
}

a:hover {
  color: #00bfff;
}

hr {
  border-top: 2px solid #0ff;
}